@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <form asp-controller="Files" asp-action="SendMatrixAndVectorToServer" method="post" enctype="multipart/form-data">
        <label>Введите имя файла с матрицей: </label>
        <input type="text" name="matrixFileName" /><br>
        <label>Введите имя файла с вектором: </label>
        <input type="text" name="vectorFileName" /><br>
        <input type="submit" value="Отправить" />
    </form>
</div>